<h3>Simple</h3>

<div class="row">
  <div class="col-sm-12">
    <h4>A rectangle</h4>
    <svg viewBox="0 0 500 100">
        <rect width="200" height="100" x="0" fill="blue" />
    </svg>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>A circle</h4>
    <svg viewBox="0 0 600 100">
      <circle cx="50" cy="50" r="50" fill="gray"/>
    </svg>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>A group</h4>
    <svg viewBox="0 0 600 150">
      <g fill="white" stroke="red" stroke-width="4">
        <circle cx="75" cy="75" r="50" />
        <rect x="40" y="70" width="70" height="10" />
        <rect x="70" y="40" width="10" height="70" />
      </g>
    </svg>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>A path</h4>
    <svg viewBox="0 0 500 200">
      <path d="M10 10 H 100 V 70 H 20 L 10 10"/>
    </svg>
  </div>
</div>
